{% extends 'base.html' %}

{% block title %}{{ product_title.title }}{% endblock title %}

{% block content %}

{% block content %}

{% for product in products %}
<!-- <div class="container"> -->
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ product.title }}</strong></h5>
      <p class="card-text">{{ product.description }}</p>
      <h5 class="card-title"><strong>{{ product.price }} so'm</strong></h5>
    </div>
    {% if product.image.url is not null %}
    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
    {% else %}
    <img src="https://кольца-колодца.рф/attachments/Slider/362d3676-0618-d894-a1a2-c8dc29d36f50/Screenshot_20201204_175942_com.yandex.browser-min.jpg?template=generic" class="card-img-top" alt="{{ product.title }}">
    {% endif %}
  </div>
<!-- </div> -->
{% endfor %}

{% endblock content %}


